<div class="col-xs-10 col-xs-offset-1 about">
<h1>About Splurty</h1>

<p>
	Splurty has built by <a target= "_blank" href="https://github.com/chutchings/Firehose-Splurty">Cathy</a>. This is project one of <a target="_blank" href="http://www.thefirehoseproject.com">The Firehose Project</a>.
</p>
<br />
<p>
	This is my first endeavor into development.  Having worked with developers and designers for years, it's exciting to have the opportunity to learn a little of their 'magic' myself.  Looking forward to getting some more experience in the weeks to come!
</p>

<p> 
	If you want to learn how to code - start <a target="_blank" href="http://www.thefirehoseproject.com/"> here</a>.
</p>
<br />
<br />
<div class="col-xs-12 col-sm-4">
	<%= image_tag '6_12.png', :class => 'img-responsive' %>
</div>

<div class="col-xs-12 col-sm-7 col-sm-offset-1">
	<h2 class="text-center">Cathy Hutchings</h2>
	<br />
	<p> 
	Cathy is a former high school science teacher and freelance writer, now working to improve the experience of educators, parents, and students interacting with technology for teaching and learning. Having worked with hundreds of educators implementing new tech tools in multiple programs and school environments, she understands the challenges educators face. 
</p>
</div>

</div>

<br class="clear" />
<br />
<br />
<br />
<br />
<br />