<h2>
	<span>SPLURTY / No. <%= @quote.unique_tag %></span>
	&nbsp;
	Here's a <u>famous person's thoughts on education</u> just for you!
</h2>
<br />

<h1><%= @quote.saying %></h1>
<h2 class="pull-right">- <%= @quote.author %></h2>

<br class="clear" />
<br />
<br />
<br />